﻿@model IEnumerable<Proyecto_Music_Core.Models.Music>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Agregar nuevo album</a>
</p>



<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar Artista o Album..." name="empSearch"
               value="@ViewData["GetProdDetails"]" style="width:700px" />
        <input type="submit" value="Buscar" class="btn btn-primary" /> 
        <a asp-action="Index">  Ver todos</a>
    </form>
</nav>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prodid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prodid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Release)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Prodid }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Detalles", "Detail", new { id = item.Prodid }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Prodid }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
